.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.466);
	z-index: 12;
}
.modal-window {
	width: 600px;
	border-radius: 5px;
	background-color: $white;
	height: 200px;
	margin: 10rem auto;
	color: rgb(189, 189, 189);
}
