.nav__list {
	display: flex;
}
.nav__item {
	position: relative;
	&:hover {
		.nav__link {
			background-color: $white;
			color: #000;
		}
		> .sub-nav__link {
			display: block;
		}
	}
}
.nav__link {
	padding: 1.5rem;
	display: block;
	font-size: 1.1rem;
	line-height: 1.2rem;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	transition: 0.3s ease all;
	&:hover {
		background-color: $white;
		color: #000;
	}
	&.has-subnav {
		position: relative;
		&:after {
			content: "";
			display: block;
			border-top: 5px solid #fff;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			position: absolute;
			top: 43%;
			right: 0;
		}
	}
}
