.profile__avatar {
	display: block;
	width: 10rem;
	height: 10rem;
	position: relative;
	border-radius: 50%;
	margin: 0 auto 5rem;
	object-fit: cover;
	box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
}
.profile-wrap__avatar {
	cursor: pointer;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	position: absolute;
	left: 10rem;
	z-index: 10;
	overflow: hidden;
	border: 2px solid #dedede5b;
	border-top-color: #09ff00;
	border-bottom-color: #09ff00;
	animation: rotate 5s 0s infinite ease-in-out;
}
.profile__name {
	font-size: 1.8rem;
	text-align: center;
}
.profile__prof {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: 300;
	color: #dedede;
	text-align: center;
}
.profile__text {
	padding: 3rem 0;
	margin: 3rem 0;
	font-size: 1.2rem;
	text-align: center;
	border-top: 1px solid #0f0f0f;
	border-bottom: 1px solid #0f0f0f;
}
@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
