<header class="header">
	<div class="header__wrapper">
		<div class="header__left">
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link has-subnav">Главная<span class="arrow"></span></a>

						<ul class="sub-nav__link">
							<li>
								<a href="#" class="sub-color">Проекты</a>
							</li>
							<li>
								<a href="#" class="sub-color">Библиотека</a>
							</li>
							<li>
								<a href="#" class="sub-color">Лаборатория</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="nav__link">Статья</a>
					</li>
					<li>
						<a href="#" class="nav__link">Обо мне</a>
					</li>
					<li>
						<a href="#" class="nav__link">Реклама</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__center">
			<form action="/" method="POST" class="search">
				<input type="text" placeholder="Поиск" class="search__input">
			</form>
		</div>
		<div class="header__right">
			<nav>
				<ul>
					<li>
						<a href="#" class="nav__link prof">Профиль</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>


</header>