<aside class="sidebar">
	<div class="sitebar__header">
		<img src="../assets/images/sitebar-header.jpg">
	</div>
	<div class="sitebar__content">
		<div class="profile">
			<div class="profile-wrap__avatar"></div>
			<img class="profile__avatar" src="../assets/images/sitebar-profile.jpg">


			<div class="profile__name">Змановский Никита</div>
			<div class="profile__prof">HTML верстальщик</div>

			<ul class="social">
				<li class="social__item">
					<a href="#" class="social__link" target="_blank"><img src="../assets/images/instagram.svg"></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link" target="_blank"><img src="../assets/images/telegram.svg"></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link" target="_blank"><img src="../assets/images/vk 1.svg"></a>
				</li>
			</ul>

			<div class="profile__text">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A illum praesentium sequi nesciunt aliquid
					maxime debitis nostrum illum voluptatem, officia cupiditate explicabo culpa aliquid.</p>
			</div>
		</div>
	</div>
	<div class="sidebar__footer">

		<a href="#" class="btn btn__work">Мои работы</a>

		<button class="btn btn__tell" type="button">Написать мне</button>

	</div>
	<button href="#" id="sidebar-btn"><span>+</span></button>

	<div class="sitebar__mail">
		<a href="#" target="_blank">zmanovskiy.n.v@gmail.com</a>
	</div>
</aside>